
<div class="container">
    <strong><h2><%= current_user.email %></h2></strong>

    <%= form_for @profile do |f| %>

    <div>
        <%= f.label :birthday, "Birthday" %>
        <br/>
        <%= f.date_field :birthday, autocomplete: "off" %>
        <br/>

        <%= f.label :location, "City" %>
        <br/>
        <%= f.text_field :location %>
        <br/>

        <%= f.label :about_me, "About Me" %>
        <br/>
        <%= f.text_area :about_me %>
        <br/>

        <%= f.label :avatar, "Avatar" %>
        <br/>
        <%= f.file_field :avatar %>
        <br/>

    </div>

    <%= f.submit "Save Your Profile" %>
    <br/>

    <% end %>
</div>