<div class="container">
	<% if @profile.user == current_user %>
	    <%= link_to "Edit profile", edit_profile_path(current_user.profile)%>
	<% end %>

	<% unless current_user == @profile.user %>
	    <% if current_user.requesters.where('requests.accepted = ?', 0).include?(@profile.user) %>
	      <%= link_to "Accept Friend Request", request_path(id: current_user.received_requests.find_by(requester_id: @profile.user.id).id, request: { requester_id: @profile.user.id }), method: :put %>
	    <% elsif current_user.requesters.include?(@profile.user) %>
	    <% elsif !current_user.requestees.include?(@profile.user) %>
	      <%= link_to "Add friend", requests_path(request: { requestee_id: @profile.user.id }), method: :post %>
	    <% end %>
	  <% end %>


	<div class="row">
		<div class="col-md-3">
			<p>
				<% if@profile.avatar.attached? %>
					<image src="<%=(url_for(@profile.avatar))%>" height="100">
				<% end %>
				<br/>
				<strong>Date of Birth:</strong>
				<%= @profile.birthday %>
				<br/>
				<strong>City:</strong>
				<%= @profile.location %>
				<br/>
				<strong>About Me:</strong>
				<%= @profile.about_me %>
			</p>
		</div>
		<div class="col-md-8">		
			<p><%= render 'posts/post' %></p>
		</div>  
	</div>

</div>


