<%= form_for(@comment) do |f| %>
  <div class="form-group">
    <%= f.label 'Leave comment' %><br>
    <%= f.text_area :content, class: 'form-control', autofocus: true, placeholder: 'Any commnets?' %>
    <%= f.hidden_field :post_id, value: @post.id %>
  </div>
  <%= f.submit :comment, class: 'btn btn-primary'%>
<% end %>