<div class="container">
	<% @users.each do |user| %>
		<strong><%= link_to(user.profile) do %>
			<%= user.first_name %>
			<%= user.last_name %>
		<% end %></strong>
		
		<% if current_user.requesters.where('requests.accepted = ?', 0).include?(user) %>
			<%= button_to "Confirm", request_path(id: current_user.received_requests.find_by(requester_id: user.id).id, request: { requester_id: user.id }), method: :put, class: "add-friend-button users-index-button accept-color" %>
		<% elsif current_user.requesters.include?(user) %>
		<% elsif !current_user.requestees.include?(user) %>
			<%= button_to "Add Friend", requests_path(request: { requestee_id: user.id }), method: :post, class: "add-friend-button users-index-button" %>
		<% end %>
		<p></p>
	<% end %>
</div>


