<% @posts.each do |post| %>
	<div class="post-container">
		<div class="">			
			<p>
				<%=link_to(post.user.profile) do %>
					<%= post.user.first_name %>
					<%= post.user.last_name %>
				<% end %>
				<p>
					<%= post.content %>					
				</p>
			</p>
				<%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
				<% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
				<% if pre_like %>
					<%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
				<% else %>
					<%= button_to 'Like', post_likes_path(post), method: :post %>
				<% end %>

			<%= link_to 'Show', post_path(post) %>
			<% if current_user.id == post.user_id %>
				<%= link_to 'Edit', edit_post_path(post) %>
				<%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</div>
		<div class="container">
			<% post.comments.each do |comment| %>
				<div class="container">
					
					<%=link_to(comment.user.profile) do %>
						<%= post.user.first_name %>
						<%= post.user.last_name %>
					<% end %>
					<p><%= comment.content %></p>
				</div>
			<% end %>
	
			<%= form_for(@comment) do |f| %>
				<div class="form-group">
					<%= f.label 'Leave comment' %><br>
					<%= f.text_area :content, class: 'form-control', autofocus: true, placeholder: 'Any commnets?' %>
					<%= f.hidden_field :post_id, value: post.id %>
				</div>
				<%= f.submit :comment, class: 'btn btn-primary'%>
			<% end %>
		</div>
	</div>
<% end %>